.footer {
    background-color: #f8f8f8;
    padding: 40px;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1 1 250px;
    margin-bottom: 40px;
  }
  
  .footer h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .footer p {
    color: #555;
  }
  
  .social-icons a {
    color: #555;
    margin-right: 10px;
    font-size: 24px;
  }
  
  .footer ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 40px;
    color: #777;
    background-color: #e8e8e8;
    padding: 10px 0;
  }
  
  @media screen and (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  
    .footer-section {
      margin-bottom: 20px;
    }
  }
  